@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>

<div id="snackbar">Some text some message..</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
